Flask>=1.0.2
Scrapy>=1.6.0
Twisted>=17.9.0
fake-useragent>=0.1.11
prometheus-client>=0.2.0
raven>=6.8.0
redis>=2.10.5
requests>=2.13.0
schedule>=0.5.0
scrapy-rotating-proxies>=0.6.2
scrapy-splash>=0.7. 2
